     <ion-view title="Tora-Con 2016">
        <ion-content>
         <div class="padding">
          <h2>About</h2>
          <img src="http://placehold.it/300x250">
          <p><small><strong>Greetings from our mascots!</strong></small></p>
          
           <p>What does "Tora" mean? The mascot here at RIT is the tiger, and tiger in Japanese is the word tora. Put that together with "convention" and you get Tora-Con!</p>
           
<p>Tora-con is an annual convention celebrating Japanese anime culture run by student volunteers of the RIT Anime Club. Since it began nearly 12 years ago, Tora-Con has grown into a major event with thousands of attendees from all over the country every year.</p>

<p>We welcome fans of all ages and hope you will join us this year.</p>
            </div>
        </ion-content>
      </ion-view>