      <ion-view title="Tora-Con 2016">
        <ion-content>
        <div class="padding">
         <p><strong>If this is an urgent matter or you feel unsafe, please find a staff member or volunteer to assist you.</strong></p>
<p>         
Otherwise, please use the contact form below to ask questions.
</p>
          <div class="list list-inset">
  <label class="item item-input">
    <input type="text" placeholder="Full Name">
  </label>
  <label class="item item-input">
    <input type="email" placeholder="Email Address">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Subject">
  </label>
  <label class="item item-input">
    <textarea placeholder="Your message here..."></textarea>
  </label>
</div>
       <div class="padding">
           <button class="button button-block button-positive">Submit</button>
       </div>
       </div>
        </ion-content>
      </ion-view>