      <ion-tabs class="tabs-icon-top tabs-positive">

        <ion-tab title="Schedule" icon="ion-document-text" href="#/tab/schedule">
          <ion-nav-view name="schedule-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Map" icon="ion-map" href="#/tab/map">
          <ion-nav-view name="map-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Contact" icon="ion-email" ui-sref="tabs.contact">
          <ion-nav-view name="contact-tab"></ion-nav-view>
        </ion-tab>
        
        <ion-tab title="" ui-sref="tabs.blank">
          <ion-nav-view name="blank-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>